<div>
  <div>
    <form class="md-form">
      <input matInput type="text" 
      class="search" 
      placeholder="pesquisar serviço" 
      [formControl]="controlservicos"
      [matAutocomplete]="auto"
      >
      <mat-autocomplete #auto="matAutocomplete" 
      [displayWith] = "displayfn" 
      autoActiveFirstOption
      >

      <mat-option *ngFor="let servico of servicosFiltered$ | async" 
            [value]="servico"
            (onSelectionChange)="selecionaServico(servico)">
          {{servico.descricao}}
        </mat-option>
      </mat-autocomplete>
    </form>
  </div>
</div>
