<div class="card">
  <div class="card-body px-lg-5 pt-0">
    <form class="md-form" style="color: #757575;">
      <!-- autocomplete-->
      <input type="text" 
      class="search" 
      placeholder="pesquisar serviço" 
      [formControl]="controlservicos"
      [matAutocomplete]="auto"
      >
      <mat-autocomplete #auto="matAutocomplete" 
      [displayWith] = "displayfn" 
      autoActiveFirstOption
      >

      <mat-option *ngFor="let servico of servicosFiltered$ | async" 
            [value]="servico"
            (onSelectionChange)="selecionaServico(servico)">
          {{servico.descricao}}
        </mat-option>
      </mat-autocomplete>
    </form>
  </div>
</div>
