<div class="card">
    <div class="card-body px-lg-5 pt-0">
      <form class="md-form" style="color: #757575;">
        <!-- autocomplete-->
        <input type="text" 
        class="search" 
        placeholder="selecione o responsável a atender este serviço" 
        [formControl]="controltecnicos"
        [matAutocomplete]="auto"
        >
        <mat-autocomplete #auto="matAutocomplete" 
        [displayWith] = "displayfn" 
        autoActiveFirstOption
        >
  
        <mat-option *ngFor="let tecnico of tecnicosFiltered$ | async" 
              [value]="tecnico"
              (onSelectionChange)="selecionaServico(tecnico)">
            {{tecnico.nome}}
          </mat-option>
        </mat-autocomplete>
      </form>
    </div>
  </div>
