<form [formGroup]="formServico">
  <!--Textarea with icon prefix-->
  <div class="md-form">
    <mdb-icon fas icon="pencil-alt" class="prefix"></mdb-icon>
    <textarea type="text" id="form8" class="md-textarea form-control" mdbInput></textarea>
    <label for="form8">Relatório</label>
  </div>
  <div class="select-tecnico">
    <pesquisa-tecnico (atualizouTecnico)="onSelecionaTecnico($event)"></pesquisa-tecnico>
  </div>
  <div class="select-servico">
    <pesquisa-servicos [servico]="servico" (atualizouServico)="onSelecionaServico($event)"></pesquisa-servicos>
  </div>

  <div>
    <label>Descrição: </label>
    <input type="text" formControlName="descricao">
  </div>

  <div>
    <label>tempoNecessario: </label>
    <input type="text" formControlName="tempoNecessario">
  </div>

  <div>
    <label>valor do DAE: </label>
    <input type="text" formControlName="valorDoDae">
  </div>
  <div>
    <label>valor do projeto: </label>
    <input type="text" formControlName="valorDoProjeto">
  </div>
  <div>
    <label>emitiu Dae: </label>
    <input type="checkbox" checked="true" formControlName="emitiuDae">
  </div>
  <div>
    <label>emitiu Art: </label>
    <input type="checkbox" checked="true" formControlName="emitiuArt">
  </div>
  <div>
    <label>Criar pasta para atendimento: </label>
    <input type="checkbox" checked="true" formControlName="createFolder">
  </div>
  <div class="select-produtor">
    <pesquisa-produtores (atualizouProdutor)="onSelecionaProdutor($event)"></pesquisa-produtores>
  </div>
  <br>
  <div>
    <button [disabled]="!formServico.valid" (click)="enviarDados()" mdbBtn type="button" color="success"
      mdbWavesEffect>Enviar dados</button>
  </div>
  <div>
    <button [disabled]="!formServico.valid" (click)="clearServices()" mdbBtn type="button" color="success"
      mdbWavesEffect>Exclui Atendimentos</button>
  </div>

  <br>
  <br>

</form>
<servicos-list [servicos]="servicos"></servicos-list>
<lista-produtores [produtores]="produtores"></lista-produtores>